main {
  max-width: 800px;
  margin: 0 3vw;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

main img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  gap: 8vw;
}

#medlem_img1 {
  aspect-ratio: 560 / 519;
}

#medlem_img2 {
  border-radius: 0px;
}

#medlem_img2,
#medlem_img3,
#medlem_img4 {
  aspect-ratio: 560 / 519;
}

hr.dashed {
  border-top: 1px dashed #bbb;
  border-bottom: none;
}

/* DESKTOP MEDIA QUERY */

@media only screen and (min-width: 800px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .grid_1-1 {
    --cols: 1fr 1fr;
    display: grid;
    grid-template-columns: var(--cols);
    gap: 80px;
    /* justify-items: center;   */
  }

  #medlem_img2 {
    display: grid;
    order: +1;
  }
}
