main {
  /* max-width: 700px; */
  margin: 0;
  width: 100%;
  max-width: 700px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}

hr.dashed {
  border-top: 1px dashed #bbb;
  border-bottom: none;
}

main img {
  border-radius: 10px;
  object-fit: cover;
  gap: 8vw;
  margin: 0 auto;
  margin-top: 4vh;
  width: 100%;
  height: auto;
}

#medlem_img1,
#medlem_img3,
#medlem_img4 {
  height: 100%;
  margin: 0 auto;
}

#medlem_img1 {
  aspect-ratio: 560 / 519;
}

#medlem_img2 {
  border-radius: 0px;
  margin: 0 auto;
}

#medlem_img2,
#medlem_img3,
#medlem_img4 {
  aspect-ratio: 560 / 519;
}

#medlem_img1,
#medlem_img2,
#medlem_img3,
#medlem_img4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tilmeld-h2 {
  display: block;
  text-align: center;
}

p,
ul {
  font-size: 18px;
}

p,
ul,
h2 {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

/* FORMS STYLING */

.member_form {
  text-align: center;
}

input {
  width: 50vw;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
}

label {
  display: block;
  text-align: center;
  margin-top: 2vh;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto; /* Centrerer knappen */
  padding: 8px 20px; /* Polstring indeni knappen */
  background-color: rgba(255, 255, 255, 0.583); /* transparent baggrund */
  border: 1px solid #000; /* Sort kant */
  border-radius: 20px; /* Runde hjørner */
  cursor: pointer;
  margin-bottom: 4vh;
  margin-top: 4vh;
  font-family: montserrat;
  font-size: 16px;
}

button:hover {
  background-color: rgb(245, 237, 227); /* Lys baggrund ved hover */
}

/* DESKTOP MEDIA QUERY */

@media only screen and (min-width: 700px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .grid_1-1 {
    --cols: 1fr 1fr;
    display: grid;
    grid-template-columns: var(--cols);
    gap: 80px;
    /* justify-items: center;   */
  }

  #medlem_img2 {
    display: grid;
    order: +1;
  }

  hr {
    width: 122%;
    margin-left: -9vw;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  main img {
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
