/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

/* Billeder under de forskellige events. */
.event {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  aspect-ratio: 355/321;
  object-fit: cover;
}

/* Stylin af event_container, h1 og p */

.event_container {
  text-align: center;
  margin: 40px;
  p {
    margin: 20px auto; /* Auto margin for at centrere */
    max-width: 70ch;
    display: block; /* Sikrer at p er et blokniveau element */
  }
}

/* styling af dato */
.dato {
  text-align: center;
  p {
    font-family: "Times New Roman", Times, serif;
    color: rgb(82, 57, 41);
    font-size: 5rem;
    font-weight: 700;
    line-height: 75%;
  }
}

.tid {
  text-align: center;
  p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.7rem;
    color: white;
    background-color: rgb(82, 57, 41);
    display: inline-block;
    padding: 5px;
  }
}

.event_overskrift {
  text-align: center;
  margin: 5px;
}

.pilned {
  width: 8%;
}

/* desktop version */
@media (min-width: 800px) {
  .kalender_order {
    display: flex;
    justify-content: center;
    .tid {
      align-content: flex-end;
    }
  }

  .kalender_omvendt {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    .tid {
      align-content: flex-end;
    }
  }

  .kalender_linje {
    display: flex;
    border-bottom: 3px solid rgb(82, 57, 41);
    width: 40%;
  }

  .grid_1-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .grid_1-1 p {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Billedet tager auto-bredde, teksten tager resten */
    gap: 20px;
    align-items: start;
  }
}

/* Dropdown sektion, også kaldet accordion */
ul {
  p {
    line-height: 2rem;
    margin: 20px;
  }
}

p,
ul li i:before,
ul li i:after {
  transition: all 0.25s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 70px;
  right: 50%;
}

ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 3px;
  height: 20px;
}

ul li i:before {
  transform: translate(2px, -80px) rotate(45deg);
}

ul li i:after {
  transform: translate(2px, -80px) rotate(-45deg);
}

ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type="checkbox"]:checked ~ i:before {
  margin-top: -75px;
  height: 20px;
  transform: translate(6px, 0) rotate(45deg);
}

ul li input[type="checkbox"]:checked ~ i:after {
  margin-top: -75px;
  height: 20px;
  transform: translate(-6px, 0) rotate(-45deg);
}

ul li:nth-of-type(1) {
  border-top: none;
  animation-delay: 0.5s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

ul li:nth-of-type(3) {
  animation-delay: 1s;
}

ul li:last-of-type {
  padding-bottom: 0;
}

li {
  animation: bounceInUp 1s ease both;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
