* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* h1 webfont */
@font-face {
  font-family: "h1 font";
  src: url("../h1_webfont/abhayalibre-regular-webfont.woff2") format("woff2"), url("../h1_webfont/abhayalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Font styling */
h1 {
  font-family: "h1 font";
  font-size: 3rem;
  margin: 50px;
  text-align: center;
}

h2 {
  font-family: Oooh Baby;
  font-size: 2.5rem;
}

p,
ul,
label {
  font-family: Montserrat;
  line-height: 2;
}

img {
  max-width: 100%;
}

body {
  background-image: linear-gradient(white, rgb(241, 237, 225));
}

/* MENU */
header {
  position: relative;
  top: 0;
  align-items: center;
  padding: 20px;
  background-color: rgb(241, 237, 225);
}

nav {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: row-reverse;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  /* padding: 20px; */
  margin-left: auto; /* Skubber knapperne til højre */
  margin-right: 0; /* Fjerner den højre margin */
  text-decoration: none; /* Removes the underline */
}

.menu li {
  margin-right: 20px;
}

.button-link {
  display: inline-block; /* Makes the link behave like a block element */
  color: black;
  text-align: center; /* Centers the text */
  text-decoration: none; /* Removes the underline */
  font-size: 16px; /* Sets the font size */
  cursor: pointer; /* Shows a pointer on hover */
  font-family: Montserrat;
  transition: transform 0.2s; /* Animation */
  /* margin-right: 10px;
  padding: 10px; */
}

.button-link:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

.logo {
  position: absolute;
  top: 12%;
  left: 2%;
  width: 75px;
  aspect-ratio: 145 /139;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/* Burger menu i mobil version */
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

@media (min-width: 800px) {
  .logo {
    position: absolute;
    top: 4%;
    left: 2%;
    width: 90px;
    aspect-ratio: 145 /139;
  }
}

/* FOOTER */

.horisontal_linje {
  border-bottom: 1px solid;
  margin-top: 5px;
  width: 100%;
  justify-items: center;
}

.grid_1-1-1 {
  text-align: center;
  line-height: 3cap;
  display: grid;
  justify-items: center;
}

.info1 {
  margin: 20px;
  border-bottom: 1px dashed #010101;
  padding-bottom: 50px;
}

.info2 {
  margin: 20px;
  border-bottom: 1px dashed #010101;
  padding-bottom: 50px;
}

.facebook_knap {
  display: flex;
  justify-items: center;
  width: 20%;
  margin-bottom: 20px;
}

.footerlogo {
  width: 30%;
  margin: 30px;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .horisontal_linje2 {
    display: none;
  }

  .info1,
  .info2 {
    text-align: left;
  }

  .facebook_knap {
    width: 20%;
    margin-bottom: 20px;
  }

  .info1 {
    margin: 20px;
    border-right: 1px dashed #010101;
    padding-right: 100px;
    border-bottom: 0px;
  }

  .info2 {
    margin: 20px;
    border-right: 1px dashed #010101;
    padding-right: 150px;
    border-bottom: 0px;
  }
}
